<div class="project-pictures">
    {{#each images}}
    {{#if this.multiple}}
    <div class="project-illustration-split">
        {{#each this.multiple}}
        <img class="project-illustration split" src="{{this.src}}" alt="{{this.alt}}">
        {{/each}}
    </div>
    {{else}}
    {{#if this.animation}}
    <video autoplay loop muted playsinline class="project-illustration {{this.className}}">
        <source src="{{this.src}}.webm" type="video/webm" />
        <source src="{{this.src}}.mp4" type="video/mp4" />
    </video>
    {{else}}
    <img class="project-illustration {{this.className}}" src="{{this.src}}" alt="{{this.alt}}" id="{{this.id}}" />
    {{/if}}
    {{/if}}
    {{/each}}
</div>