<div class="project-pictures">
    {{#each images}}
    {{#if this.multiple}}
    <div class="project-illustration-split">
        {{#each this.multiple}}
        <img class="project-illustration split" src="{{this.src}}" alt="{{this.alt}}">
        {{/each}}
    </div>
    {{else}}
    {{#if this.animation}}
    <video autoplay loop muted playsinline class="project-illustration">
        <source src="{{this.src}}" type="video/webm" />
    </video>

    {{else}}
    <img class="project-illustration" src="{{this.src}}" alt="{{this.alt}}" id="{{this.id}}" />
    {{/if}}
    {{/if}}
    {{/each}}
</div>